body{
    margin: 0;
    background-image: url('night.jpg');
    background-size: 100vw 100vh;
}
#container{
    width: 100vw;
    height: 100vh;

    font-family: 'Kanit', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    color: white;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 1fr;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

}
#header{
    grid-column: 1 / span 3;
}
#currentWeather {
    grid-column: 2 / 2;
}
#weatherdata {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
#forecast {
    grid-column: 1 / span 3;
}

